apiVersion: apps/v1
kind: Deployment
metadata:
  name: hellojs
  namespace: prod
spec:
  selector:
    matchLabels:
      app: hellojs
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: hellojs
    spec:
      containers:
      - name: hellojs
        image: ecemozer/hellojs:v26
        ports:
        - containerPort: 80